In [59]:
import numpy as np
import pandas as pd

In [60]:
students = pd.read_csv("./data/students_info.csv", index_col="STD_ID")
exams = pd.read_csv("./data/exams_info.csv", index_col="STD_ID")

In [61]:
students = students[~students.index.duplicated()]

In [62]:
students

,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),Образование,Дата выдачи,Что именно закончил
STD_ID,,,,,,,,,,
99136,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,СР,2013-06-26 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
99112,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,СР,2012-06-23 00:00:00,"МОУ СОШ N 2, ПЕСТОВО"
99109,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,СР,2013-06-25 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
99125,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,СР,2013-06-23 00:00:00,"Гимназия ""ГАРМОНИЯ"""
100676,М,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,СР,2012-06-29 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
...,...,...,...,...,...,...,...,...,...,...
100678,Ж,СТ,NaN,БП,Д,31.05.01,Лечебное дело,СР,2013-06-21 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
100663,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,СР,2013-06-27 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
191630,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,СР,2014-05-31 00:00:00,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА
191625,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaN
194978,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaN

In [63]:
exams

,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА,mark
STD_ID,,,,,,,
175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,Маркетинг,5
100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,"Пропедевтика внутренних болезней, лучевая диаг...",5
199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,Химия,5
162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,Статистика,4
108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,Педиатрия,3
...,...,...,...,...,...,...,...
176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,Конституционное право,3
182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,Нормальная физиология,3
162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,Иностранный язык,4
202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,Информатика,4
182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,Технологические процессы в строительстве,4

In [64]:
passed_students = students.query("Статус == 'ВЫП'").join(exams).reset_index().groupby("STD_ID").agg({"mark": "mean"})
passed_students

            mark
STD_ID
81776   4.128205
83405   3.731707
88312   3.685714
89341   3.861111
89367   3.976190
...          ...
184664  4.733333
184666  5.000000
184673  4.933333
184674  5.000000
185075  4.333333

[455 rows x 1 columns]

In [65]:
passed_students.to_csv("./data/output_D.csv")